@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* shared styles */
* {
  margin: 0 0;
}
header, main {
  max-width: 1200px;
  margin: 50px auto;
}
body > section {
  margin: 100px;
}
.display-flex {
  display: flex;
}
.title {
  font-size: 1.75rem;
  font-weight: 700;
}
.description {
  font-size: 1rem;
  font-weight: 600;
}
.primary-font-color {
  color: rgba(58, 58, 58, 1);
}
.secondary-font-color {
  color: rgba(10, 8, 38, 1);
}
.btn-primary {
  background-color: rgba(224, 44, 109, 1);
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 40px;
  margin-top: 16px;
}
/* header styles */
/* nav styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  margin-right: 30px;
}
/* banner styles */
.banner {
  margin-top: 85px;
}
.banner-prebook {
  gap: 130px;
}
.banner-prebook img {
  max-width: 100%;
  background-image: url(../images/Circle\ design.svg);
  background-size: cover;
  margin-bottom: 100px;
}
.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
}
.banner-company-logos {
  max-width: 1110px;
  height: 110px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: space-around;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* popular card styles */
.popular-collection {
  margin: 100px auto;
}
.popular-collection-title {
  max-width: 265px;
  font-weight: 600;
  margin: 30px auto;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  max-width: 300px;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.card > img {
  max-width: 100%;
}
.card-title {
  margin-bottom: 10px;
}
.card-subtitle {
  margin-bottom: 25px;
}
.card-description {
  font-size: 0.8rem;
}
.card-bottom {
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 50px;
  gap: 8pxf;
  color: rgba(224, 44, 109, 0.87);
}
/* featured products styles */
.featured-products {
  max-width: 1110px;
  gap: 100px;
  align-items: center;
}
.featured-title {
  margin-bottom: 16px;
}
.featured-btn {
  border-radius: 0;
}
/* footer styles */
footer {
  height: 250px;
  background-color: rgb(0, 0, 42);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer {
  width: 250px;
}
.footer-title {
  font-size: 1.5rem;
  margin-bottom: 3px;
}
.footer-description {
  font-size: 0.8rem;
  margin-bottom: 3px;
}
.footer-web-icon-container {
  margin-top: 25px;
}
.footer-web-icon-container img {
  width: 100%;
}
.footer-web-icon {
  width: 32px;
  height: 32px;
  color: white;
  margin-right: 16px;
}
/* responsive styles */
/* responsive mobile styles */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
  .banner-prebook,
  .featured-products {
    flex-direction: column-reverse;
  }
  .banner-text-container {
    text-align: center;
  }
  .banner-company-logos,
  .card-container {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }
  .banner-company-logos {
    grid-template-columns: repeat(2,1fr);
    height: fit-content;
  }
  .card-bottom {
    margin-top: 25px;
  }
  .featured-products {
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner-company-logos {
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    gap: 30px;
  }
  /* .card-container {
    grid-template-columns: repeat(2, 1fr);
  } */
  .card-bottom {
    margin-right: 0px;
  }
}